<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037455835146-ne45afe2m49a9u000njla26ut2u098oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037455835146-ne45afe2m49a9u000njla26ut2u098oc</string>
	<key>API_KEY</key>
	<string>AIzaSyAN-eQmy8edxhrtktqjJN9pjZ6LAy9INrU</string>
	<key>GCM_SENDER_ID</key>
	<string>1037455835146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agentcOnfirmation</string>
	<key>PROJECT_ID</key>
	<string>agent-confirmation-47972</string>
	<key>STORAGE_BUCKET</key>
	<string>agent-confirmation-47972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037455835146:ios:c67d4aaa19346a558b1ff3</string>
</dict>
</plist>